h1{
	margin: 0;
	padding: .25em;
	font-size: 180%;
	color: navy;
	
}

aside h2{
	color: navy;
	font-family: Arial;
	
}

p{
	color: black;
	font-family: Arial;
	
}

li{
	color: black;
	font-family: Arial;
	
}

body{
	
	background-color: cornflowerblue;
}

aside{

	padding: 5%s;

	
	border: 0;
	
	
	margin: 0;

	height: 5000px;
	width: 225px;


}