h1{
	margin: 0;
	padding: .25em;
	font-size: 180%;
	color: navy;
	
}

h2{
	color: navy;
	font-family: Arial;
	
}

p{
	color: black;
	font-family: Arial;
	
}

li{
	color: black;
	font-family: Arial;
	
}

body{
	
	
}